<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ADMIN PANEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>ADMIN PANEL</h1>
<a href="/dashboard">Back to dashboard</a></br>
<a href="/logout">Logout</a></br></br></br></br></br>

<form action="/admin/createEvent" method="post">
    <label>CREATE NEW EVENT</label></br></br>

    <label>Event title</label><input name="title"></br>
    <label>Event description</label><textarea name="description"></textarea></br>

    <button type="submit">Create</button>

    <input type="hidden" name="username" th:value="${user.username}">
</form>
</body>
</html>